@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');



@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Kaushan+Script&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Risque&display=swap');



body {
    margin: 0;
    padding: 0;
}

* {
    padding: 0;
    margin: 0;
}


body .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

body .flex-row .col-1 {
    flex: 0 0 8.34%;
    width: 8.34%;
    padding: 0;
}

body .flex-row .col-2 {
    flex: 0 0 16.67%;
    width: 16.67%;
    padding: 0;
}

body .flex-row .col-3 {
    flex: 0 0 25%;
    width: 25%;
    padding: 0;
}

body .flex-row .col-4 {
    flex: 0 0 33.33%;
    width: 33.33%;
    padding: 0;
}

body .flex-row .col-5 {
    flex: 0 0 41.66%;
    width: 41.66%;
    padding: 0;
}

body .flex-row .col-6 {
    flex: 0 0 50%;
    width: 50%;
    padding: 0;
}

body .flex-row .col-7 {
    flex: 0 0 58.33%;
    width: 58.33%;
    padding: 0;
}

body .flex-row .col-8 {
    flex: 0 0 66.66%;
    width: 66.66%;
    padding: 0;
}

body .flex-row .col-9 {
    flex: 0 0 75%;
    width: 75%;
    padding: 0;
}

body .flex-row .col-10 {
    flex: 0 0 83.33%;
    width: 83.33%;
    padding: 0;
}

body .flex-row .col-11 {
    flex: 0 0 91.66%;
    width: 91.66%;
    padding: 0;
}

body .flex-row .col-12 {
    flex: 0 0 100%;
    width: 100%;
    padding: 0;
}


.container {
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1400px !important;
}

body .home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #000;
}

.vdodiv {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 3;
}


.vdodiv {
    clip-path: circle(var(--clip) at 50% 50%);
}

.vdodiv video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}



.marquees {
    position: relative;
    width: 100%;
    height: 100%;
}



.marquees-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    overflow: hidden;
    z-index: 2;
    scale: 1;
    font-family: "Amarante", serif;

}


.row {
    display: flex;
    align-items: center;
    gap: 1em;
}

.row-inner {
    display: flex;
    align-items: center;
    gap: 1em;
}

.image {
    height: 2em;
    width: 2em;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}


.image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.row.lft {
    margin-bottom: 2em;
}

.row.rgt {
    margin-bottom: 2em;
}


.row .row-inner h1 {
    font-size: 2.3em;
    color: #fff;
}


body .quote-1 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: 2em;
}


body .quote-1 h2 {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}

header{
    padding: 1em 0;
}

header .container .flex-row h3 {
    color: #fff;
    font-family: "Kaushan Script", cursive;
    font-size: 2em;
}

header .container .flex-row{
    align-items: center;
}

header .container .flex-row ul li {
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
}
header .container .flex-row ul {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 45px;
}